.student-form {
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  border-radius: 8px;
}

.student-form h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: green;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  min-width: calc(33.33% - 20px);
  margin-right: 20px;
}

.form-group:last-child {
  margin-right: 0;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-buttons {
  display: flex;
  margin-left: 300px;
}

.form-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit {
  background-color: #4CAF50;
  color: white;
}

.cancel {
  background-color: #f44336;
  color: white;
  margin-left: 15px;
}

.clear {
  background-color: #ff9800;
  color: white;
  margin-left: 15px;
}
