body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 80px;
  }
  
  .login-form-container,
  .login-image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-form-container {
    background-color: #f7f7f7; 
    padding: 0px;
    box-sizing: border-box;
    /* border: 2px solid green; */
    width: 100%;
  }
  
  .login-image-container {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; 
    box-sizing: border-box;
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    overflow: hidden; 
  }
  
  .login-image-container img {
    width: 800px;
    height: 700px;
    object-fit: cover; 
  }
  
  .login_form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    max-width: 800px;
    width: 100%;
    height: 700px;
  }
  
  form h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
    margin-top: 100px;
  }
  
  .login_head {
    color: rgb(233, 31, 31);
    font-size: 42px;
    font-weight: bold;
  }
  
  .login_head1 {
    color: rgb(19, 19, 190);
    font-size: 42px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .diff-button {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .btn-diff {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-diff:hover {
    background-color: #0056b3;
    color: white;
  }
  
  input[type="text"],
  input[type="password"] {
    width: calc(70% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
  }
  
  .capcha_form {
    margin-bottom: 10px;
    border: none;
    background: none;
    box-shadow: none;
    margin-left: 100px;
    margin-top: 10px;
  
  }
  
  button[type="submit"] {
    width: calc(70% - 20px);
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  button[type="submit"]:hover {
    background-color: #218838;
  }
  
  p {
    text-align: center;
    margin-top: 5px;
  }
  
  p a {
    color: #007bff;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  