body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 100%;
    margin: 20px auto;
    margin-top: 120px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(182, 42, 42);
    text-align: center;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, .table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table td {
    background-color: #fff;
  }
  
  /* File Upload Button Styles */
  .custom-file-upload {
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .custom-file-upload input[type="file"] {
    display: none;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }
  
  .custom-file-upload:active {
    background-color: #0056b3;
  }
  
  /* Button Styles */
  button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  button:active {
    background-color: #1e7e34;
  }
  