.user_signup {
    position: relative;
    width: 100%; 
    height: auto;
    margin-top: 100px; 
  }
  
  .user_signup img{
    width: 100%;
      height: 100vh;
      display: block;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
  }
    
    .form-signin {
      background-color:none;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 15px;
      width: 40%;
      margin-left: 750px;
      border: none;
    }
    
    .form-signin-heading {
      text-align: center;
      margin-bottom: 20px;
      color: rgb(234, 41, 41);
    }
    
    .form-signin label {
      font-weight: bold;
      color: white;
      margin-bottom: 10px;
      font-size: 18px;
    }
    
    .form-signin input[type="text"],
    .form-signin input[type="email"],
    .form-signin input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    
    .form-signin button[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: rgb(220, 18, 18);
      color: #ffffff;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }
    
    .form-signin button[type="submit"]:hover {
      background-color: #0056b3;
    }
    
  
    .form-signin p{
      margin-top: 10px;
      margin-left: 20px;
      font-size: 16px;
    }
  
    .signin{
      cursor: pointer;
      color: white;
      text-decoration: underline;
    }