
<footer *ngIf="showHeader">
  <div class="footer_header">

    <div class="head_intro">
      <img src="../../../../assets/web-logo.png" alt="logo">
      <p>Providing Life Changing Experiences Through Education. Class That Fit Your Busy Life. Closer to Home</p>
    </div>

    <div class="head_courses">
      <h1>Courses</h1>
      <ul>
        <li><i class="bi bi-chevron-compact-right"></i>Science</li>
        <li><i class="bi bi-chevron-compact-right"></i>Arts</li>
        <li><i class="bi bi-chevron-compact-right"></i>Music</li>
        <li><i class="bi bi-chevron-compact-right"></i>General Ed.</li>
        <li><i class="bi bi-chevron-compact-right"></i>Spoken Eng</li>
      </ul>
    </div>


    <div class="head_link">
      <h1>Links</h1>
      <ul>
        <li><i class="bi bi-chevron-compact-right"></i>About</li>
        <li><i class="bi bi-chevron-compact-right"></i>Gallery</li>
        <li><i class="bi bi-chevron-compact-right"></i>Staff</li>
        <li><i class="bi bi-chevron-compact-right"></i>Events</li>
        <li><i class="bi bi-chevron-compact-right"></i>FAQ’s</li>
      </ul>
    </div>

    <div class="head_contact">
      <h1>Contact</h1>
      <ul class="contact_list">
        <li><i class="bi bi-telephone"></i>  +91 9915177859</li>
        <li><i class="bi bi-envelope"></i>  sumitgiri15434gmail.com</li>
        <li><i class="bi bi-geo-alt"></i>  Kharar,Mohali</li>
      </ul>
    </div>

    <!-- <div class="head_video">
      <iframe width="450" height="315" src="../../../../assets/collegevideo.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div> -->

    <div class="head_video">
      <iframe
        src="../../../../assets/collegevideo.mp4"
        title="Video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    
    

  </div>
  <hr class="line">
  <div class="footer_para">
    <div class="para">
      <p>&copy; Copyright 2024 Education.com, Inc, a division of IXL Learning • All Rights Reserved.</p>
    </div>
    
    <div class="footer_icons">
      <i class="bi bi-facebook"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-youtube"></i>
      <i class="bi bi-linkedin"></i>
      <i class="bi bi-github"></i>
    </div>
  </div>
  </footer>