
.headstudent-container{
  display: flex;
  width: 100%;
  margin-top: 120px;
  /* margin: 0; */
}

.headstudent,.headstudent1{
  display: flex;
  width: 30%;
  height: 150px;
  margin-left: 20px;
  box-shadow: 4px 4px 4px 4px rgb(148, 144, 144);
  border-radius: 8px;
  border: none;
}

.headstudent img,.headstudent1 img{
  width: 50%;
  height: 140px;
}
.student_image{
  margin-left: 50px;
}

.headstudent h1,.headstudent1 h1{
  font-size: 24px;
  text-align: center;
  color:rgb(250, 142, 9);
  font-weight: bolder;
  margin-top: 20px;
}
.studentheading{
  margin-left: 30px;
  margin-top: 20px;
}
.headstudent h2,.headstudent1 h2{
  text-align: center;
  margin-top: 20px;
  color: darkblue;
  font-weight: bolder;
}



.chart-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.chart {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart canvas {
  width: 100%;
  height: auto;
}
