<div class="header_img">
  <div class="headstudent_image">
    <h1>Student</h1>
    <h2>{{totalStudents}}</h2>
    <img src="../../../assets/graduation_student_img.png" alt="student_img">
  </div>
  <div class="headstudent_image">
    <h1>Teacher</h1>
    <!-- <h2>{{totalTeachers}}</h2> -->
    <img src="../../../assets/graduation_student_img.png" alt="student_img">
  </div>
  <div class="headstudent_image">
    <h1>Student</h1>
    <!-- <h2>{{number_student}}</h2> -->
    <img src="../../../assets/graduation_student_img.png" alt="student_img">
  </div>
</div>



<div class="grap_section">
  <div class="graph_count">
    <div *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>
    </div>

    <div *ngIf="!errorMessage" class="graph_count1">
      <div class="graph_left">
        <div class="linechart">
          <canvas #lineChartCanvas></canvas>
        </div>

        <div class="historicalchart">
          <canvas #historicalChartCanvas></canvas>
        </div>
      </div>

      <div class="graph_right">
        <div class="piecount_head">
          <div class="head_image">
            <img src="../../../assets/admin_home_img.png" alt="image">
          </div>
          <div class="piechart">
            <canvas #pieChartCanvas></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
