<div class="about_section_image">
    <img src="../../../../assets/contactus.png" alt="header image">
    <div class="overlay"></div> 
    <div class="head">
        <h1>CONTACT ME</h1>
    </div>
</div>


<!-- +++++++++++ map +++++++ -->


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.348629107154!2d76.70152657508713!3d30.708598086799448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee9389eaaaab%3A0xba6e27c236df8a20!2sC-DAC%20Mohali!5e0!3m2!1sen!2sin!4v1710918750459!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<!-- ++++++++++++++ contact-info +++++++++++ -->


<div class="main-contact">

    <div class="contact-info">
        <div class="location">
            <img src="../../../../assets/location.png" alt="location-image">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="mobileno">
            <img src="../../../../assets/call-logo.png" alt="call-logo">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="email">
            <img src="../../../../assets/email-logo.png" alt="email-logo">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="contact-form"></div>


    <div class="location-map"></div>
</div>

<!-- ++++++++++++++ contact-form +++++++++ -->

<div>
<div class="contact-form-heading">
    <h1>Contact Form</h1>
</div>

<div class="contact-form1">
    <div class="contact-form11">
        <input type="text" placeholder="Enter your name here" formControlName="from_name">
        <input type="text" placeholder="enter your email here" formControlName="from_email">
    </div>

    <div class="contact-form12">
        <input type="number" placeholder="Enter your mobileno" formControlName="from_mobno">
        <input type="date" formControlName="from_date">
    </div>

    <textarea name="" id="" cols="30" rows="5" placeholder="Message" required formControlName="message"></textarea>
    <button class="btn">Submit</button>
</div>
</div>


