<div class="container">

    <!-- Panel Switcher Buttons -->
    <!-- <div class="button-group">
      <button (click)="showPanel('admin')" [class.active]="currentPanel === 'admin'">Admin Register</button>
      <button (click)="showPanel('student')" [class.active]="currentPanel === 'student'">Student Register</button>
      <button (click)="showPanel('teacher')" [class.active]="currentPanel === 'teacher'">Teacher Register</button>
    </div> -->

  <form class="form-signin" [formGroup]="registerform" (ngSubmit)="handleRegistration()">
    <h2 class="form-signin-heading">Create Account</h2>

    <div class="form-row">
      <div class="form-group">
        <label for="inputFirstname">First Name</label>
        <input type="firstname" id="firstname" class="form-control" placeholder="Enter your first name here" formControlName="firstname" required>
      </div>
      <div class="form-group">
        <label for="inputLastname">Last Name</label>
        <input type="lastname" id="lastname" class="form-control" placeholder="Enter your last name here" formControlName="lastname" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="inputName">Username</label>
        <input type="text" id="inputName" class="form-control" placeholder="Enter your username" formControlName="username" required autofocus>
      </div>
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Enter your email here" formControlName="email" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Enter password here" formControlName="password" required>
      </div>
      <div class="form-group">
        <label for="inputCPassword">Confirm Password</label>
        <input type="password" id="inputCPassword" class="form-control" placeholder="Enter confirm password here" formControlName="confirmPassword" required>
      </div>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

    <p>Do you have an account? <span class="signin" routerLink="/login-form">Sign In</span></p>
  </form>
</div>
